img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 600px;
    margin: auto;
  }
  #main {
    background: linear-gradient(35deg,red,yellow);
  }
  #title {
    text-align: center;
    
  }
  h1 {
    padding: px;
    text-align: center;
    color: red;
    text-transform: capitalize;
    font-family: ubuntu;
  }
  p {
    color: black;
    text-transform: none;
    font-family: roboto;
  }
  p2 {
    color: black;
    text-transform: none;
    font-family: roboto;
  }
  p3 {
    color: black; 
    text-transform: none;
    font-family: roboto;
  }
  #img-caption {
    text-transform: none;
    text-align: center;
    color: black; 
  }
  button:hover {
    color: black;
    animation-name: background-color;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  }
  @keyframes background-color{
    
    100%{
      background-color: red;
      transform: scale(1.2);
    }
  
  }
  button {
    padding: 7px;
    color: black;
    background-color: yellow; 

  }
  